<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('boilerplate', {title: 'login'}) %>
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="icon" type="image/x-icon" href="../images/no-entry.png" />
  </head>
  <body>
    <nav class="navbar bg-dark fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <div class="navbar-brand">Private Club</div>
        <span class="nav-bar-links">
          <a class="nav-bar-link" href="/signup">Sign Up</a>
        </span>
      </div>
    </nav>
    <div class="content">
      <% if(locals.errors){ %>
      <div id="alerts-container">
        <% locals.errors.forEach(error=>{ %>
        <div class="alert alert-danger" role="alert"><%= error.msg %></div>
        <% }) %>
      </div>
      <% } %>
      <!-- prettier-ignore-->
      <% if(messages.error){ %>
      <div id="alerts-container">
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
      </div>
      <% } %>
      <form class="row g-3" action="/login" method="POST">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="Email"
            class="form-control"
            id="Email"
            name="email"
            value="<%= locals.email %>"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="Password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password"
            name="password"
            value="<%= locals.password %>"
            min="8"
            maxlength="20"
            required
          />
        </div>
        <div class="col-12" id="login-btn-container">
          <button type="submit" class="btn btn-dark">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>
